@charset "UTF-8";
@font-face {
  font-family: 'zurich-bt';
  src: url("../fonts/zurich-bt-webfont.woff2") format("woff2"), url("../fonts/zurich-bt-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
html,
body {
  color: #4b4b4b;
  font-size: 15px;
  font-family: "zurich-bt", "Myriad Pro", Myriad;
  height: 100%;
  min-height: 100%; }

.body-login {
  background: #f5f5f5; }

a, a:hover, a:focus {
  color: inherit; }

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
  padding: 0; }

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px; }

.wrap > .container {
  padding: 70px 15px 20px; }

.jumbotron-index {
  background-color: transparent;
  color: #fff;
  height: 92vh;
  margin: 0;
  padding: 0;
  text-align: right; }

.jumbotron-pages {
  background: url(../images/contact-image.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  height: 42vh;
  margin: 0;
  padding-top: 6rem;
  position: relative; }
  .jumbotron-pages .container {
    position: relative;
    top: 25%; }
  .jumbotron-pages:after {
    content: '';
    background: rgba(101, 100, 96, 0.6);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 31; }

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px; }

address {
  margin-bottom: 0; }

.footer, .footer-login {
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  color: #4e4e4e;
  height: 60px;
  padding-top: 20px; }

.footer-login {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }

.footer-index {
  background-color: #fc7323;
  color: #ffffff;
  padding-top: 2rem; }
  .footer-index address {
    display: inline-block; }
  .footer-index ul li {
    color: #fce1d2;
    margin-bottom: 0.4rem; }
    .footer-index ul li:hover {
      color: #fff; }
  .footer-index .footer-social-networks a {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ff8037;
    color: #fed0b5;
    /*display: flex;*/
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 2.5rem;
    margin-right: 1rem;
    width: 2.5rem;
    border-radius: 0.56rem;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
  .footer-index .fsocialn-container {
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer-index .certificados {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }

.not-set {
  color: #c55;
  font-style: italic; }

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px; }

a.asc:after {
  content: "\e151"; }

a.desc:after {
  content: "\e152"; }

.sort-numerical a.asc:after {
  content: "\e153"; }

.sort-numerical a.desc:after {
  content: "\e154"; }

.sort-ordinal a.asc:after {
  content: "\e155"; }

.sort-ordinal a.desc:after {
  content: "\e156"; }

.grid-view td {
  white-space: nowrap; }

.grid-view .filters input,
.grid-view .filters select {
  min-width: 50px; }

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999; }

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0; }

/* align the logout "link" (button in form) of the navbar */
.navbar {
  background: #aee247;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  position: relative;
  z-index: 9999; }

.navbar-default .navbar-nav > li > a {
  color: #fff; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff; }

.nav li > form > button.logout {
  padding: 15px;
  border: none; }

@media (max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 15px; } }
.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none; }

.nav > li > form > button.logout:focus {
  outline: none; }

.navbar-brand-index {
  height: inherit;
  position: relative;
  padding: 0.4rem; }
  .navbar-brand-index:before {
    content: '';
    background-color: #9cd42f;
    top: 0;
    bottom: 0;
    right: -75%;
    left: -10000%;
    position: absolute;
    -webkit-transform: skew(-10deg);
            transform: skew(-10deg);
    z-index: 0; }

.navbar-right {
  margin-top: 1.5rem; }
  .navbar-right li:hover a:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }
  .navbar-right li a:before {
    background-color: #fff;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-top: 0.1rem solid #fc7323;
  border-radius: 4px 4px 0 0; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: transparent; }
  .navbar-default .navbar-nav > .active > a:before, .navbar-default .navbar-nav > .active > a:hover:before, .navbar-default .navbar-nav > .active > a:focus:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1); }

.logo-navbar-index {
  height: 5.5rem;
  position: relative;
  z-index: 2; }

/*Form*/
.control-label {
  font-weight: normal; }

.form-control:focus {
  border-color: #fc7; }

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #888;
  font-size: 0.9rem; }

.form-group {
  position: relative; }

.form-control {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-radius: 0px; }

.has-error .form-control,
.has-success .form-control,
.has-success .form-control:focus,
.has-error .form-control:focus {
  border-color: navajowhite;
  border-radius: 0px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }

.has-error .form-control {
  border-color: #f01e1e; }

.field-loginform-rememberme label {
  font-weight: normal;
  width: 86%; }

input[type=checkbox] {
  margin-right: 0.4rem;
  vertical-align: top; }

textarea::-webkit-input-placeholder, .site-contact .bodyContact #contact-form input::-webkit-input-placeholder, .site-contact .bodyContact #contact-form select::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #666 !important; }

textarea:-ms-input-placeholder, .site-contact .bodyContact #contact-form input:-ms-input-placeholder, .site-contact .bodyContact #contact-form select:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: #666 !important; }

textarea::placeholder, .site-contact .bodyContact #contact-form input::placeholder, .site-contact .bodyContact #contact-form select::placeholder,
input::placeholder {
  color: #666 !important; }

.btn {
  border-radius: 6rem; }

.btn-primary {
  border: none;
  border-color: none; }

.link {
  color: #0064dc; }
  .link:hover {
    color: #0064dc; }

.table {
  cursor: cell; }

.infobar {
  background: #e6e6e6;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.8rem; }
  .infobar a {
    margin-left: 1.2rem; }
    .infobar a i {
      margin-right: 0.4rem; }

/*==============*/
/*==============*/
/*.hero-index {
    background: url(../images/hero.jpg)no-repeat;
    background-size: cover;
}*/
.hero-index {
  position: relative; }
  .hero-index i {
    display: inline-block;
    bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    font-size: 3rem;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 22; }
  .hero-index:after {
    background: url(../images/recurso-header.png) no-repeat;
    bottom: 0rem;
    content: '';
    display: inline-block;
    height: 15rem;
    left: -2rem;
    position: absolute;
    right: 0;
    width: 18rem;
    z-index: 20; }

#hCarousel {
  height: inherit;
  left: 0;
  overflow: hidden;
  position: relative;
  right: 0;
  top: 0; }
  #hCarousel .owl-stage-outer {
    height: 100%; }
    #hCarousel .owl-stage-outer .owl-stage .owl-item .imageContainer .jumbotron-container {
      background: rgba(101, 100, 96, 0.6);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10; }
      #hCarousel .owl-stage-outer .owl-stage .owl-item .imageContainer .jumbotron-container .jumbotron-title {
        margin-right: 4rem;
        position: relative;
        top: 30%; }
    #hCarousel .owl-stage-outer div {
      height: 100%; }

.owl-carousel .owl-item img {
  height: inherit;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1; }

.social-networks-right {
  display: none; }

/*==============
 Objetivos
==============*/
.infoSection {
  padding: 5rem 0;
  position: relative; }
  .infoSection:before {
    content: '';
    background: url(../images/objectivesImage.png) no-repeat center;
    background-size: contain;
    bottom: 0;
    display: inline-block;
    height: 100%;
    left: 1rem;
    position: absolute;
    top: 0;
    width: 28%; }
  .infoSection .infoContainer {
    padding-left: 22rem; }
    .infoSection .infoContainer .column-info {
      margin-bottom: 4rem; }
      .infoSection .infoContainer .column-info:nth-child(1), .infoSection .infoContainer .column-info:nth-child(2) {
        text-align: center; }
      .infoSection .infoContainer .column-info:nth-child(3) h3 {
        text-align: center; }
      .infoSection .infoContainer .column-info h3 {
        margin-bottom: 1rem; }
        .infoSection .infoContainer .column-info h3 i {
          margin-right: 1rem; }
      .infoSection .infoContainer .column-info p {
        padding: 0 5rem; }

/*==================
Progrmas de formación
====================*/
.coursesSection {
  background: url(../images/elisava-incoming-students_0.png) no-repeat;
  background-position-x: -12rem;
  background-size: contain;
  padding: 4rem 0;
  position: relative; }
  .coursesSection:before {
    content: '';
    background: -webkit-gradient(linear, left top, right top, from(rgba(222, 255, 33, 0.1)), color-stop(5%, rgba(255, 201, 33, 0.4)), color-stop(50%, #ffa908));
    background: linear-gradient(to right, rgba(222, 255, 33, 0.1) 0%, rgba(255, 201, 33, 0.4) 5%, #ffa908 50%);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

.courseImage {
  width: 100%; }

#courseCarousel1 .owl-nav {
  color: #fff;
  font-size: 2rem;
  position: absolute;
  right: 0;
  top: -2.5rem; }
  #courseCarousel1 .owl-nav div {
    opacity: 0.7; }
    #courseCarousel1 .owl-nav div:hover {
      opacity: 1; }
  #courseCarousel1 .owl-nav .owl-prev {
    float: left;
    margin-right: 1rem; }
  #courseCarousel1 .owl-nav .owl-next {
    float: right; }
#courseCarousel1 .courseItem {
  border: 1px solid #f1f1f1; }
  #courseCarousel1 .courseItem .imageContainer {
    height: 21rem;
    position: relative; }
    #courseCarousel1 .courseItem .imageContainer img {
      width: 100%; }
    #courseCarousel1 .courseItem .imageContainer .imageInfo {
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(101, 100, 96, 0.8)), color-stop(35%, rgba(101, 100, 96, 0)), color-stop(45%, rgba(101, 100, 96, 0)), to(rgba(101, 100, 96, 0.8)));
      background: linear-gradient(rgba(101, 100, 96, 0.8) 0%, rgba(101, 100, 96, 0) 35%, rgba(101, 100, 96, 0) 45%, rgba(101, 100, 96, 0.8) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99656460', endColorstr='#99656460',GradientType=0 );
      color: #fff;
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 15; }
      #courseCarousel1 .courseItem .imageContainer .imageInfo .imageInfoContainer {
        bottom: 0;
        padding: 1rem;
        position: absolute;
        width: 100%; }
        #courseCarousel1 .courseItem .imageContainer .imageInfo .imageInfoContainer .imageInfoTitle {
          font-size: 1.5rem;
          line-height: 1; }
        #courseCarousel1 .courseItem .imageContainer .imageInfo .imageInfoContainer .courseCategory {
          background: #c747ba;
          display: inline-block;
          padding: 0.4rem; }
        #courseCarousel1 .courseItem .imageContainer .imageInfo .imageInfoContainer a {
          display: block;
          margin-bottom: 0.5rem; }
        #courseCarousel1 .courseItem .imageContainer .imageInfo .imageInfoContainer span:nth-child(2) {
          float: right; }
  #courseCarousel1 .courseItem .courseDescription {
    background: #fff;
    height: 9rem;
    padding: 0.8rem; }
    #courseCarousel1 .courseItem .courseDescription a {
      border-bottom: 1px solid;
      display: inline-block;
      padding: 0.5rem;
      text-align: center;
      width: 7rem; }
      #courseCarousel1 .courseItem .courseDescription a h5 {
        font-size: 15px;
        text-align: left; }
      #courseCarousel1 .courseItem .courseDescription a:hover {
        color: #fc7323;
        text-decoration: none; }
    #courseCarousel1 .courseItem .courseDescription span {
      color: #777;
      display: block;
      font-size: 13px;
      margin-top: 0.5rem; }
    #courseCarousel1 .courseItem .courseDescription p {
      height: 4rem;
      line-height: 1.2;
      margin: 0;
      margin-top: 0.5rem;
      overflow: hidden; }

.surveryItem {
  color: #9a9ad2;
  overflow: hidden;
  padding: 2rem 0; }
  .surveryItem div a {
    color: #d6facf;
    display: block; }

.surveryItem1 {
  background: #32325d; }

.surveryItem2 {
  background: #3a3a66; }

.surveryItem3 {
  background: #41416d; }

.surveryItem4 {
  background: #32325d; }

.surveryItem5 {
  background: #3a3a66; }

.survery-link {
  background-color: #238276;
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 0.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-align: center;
  white-space: nowrap;
  width: 11rem;
  height: 2.4rem; }

.custom-object-fit {
  position: relative;
  background-size: cover;
  background-position: center center; }
  .custom-object-fit .featured-image {
    opacity: 0; }

.newsCard {
  height: 360px;
  position: relative; }
  .newsCard:before {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, transparent), to(#000000));
    background: linear-gradient(to bottom, transparent 0%, transparent 40%, #000000 100%);
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.75;
    position: absolute;
    right: 0;
    top: 0;
    height: 360px; }
  .newsCard .imageContainer {
    height: 360px;
    overflow: hidden; }
    .newsCard .imageContainer .news-date {
      background-color: #fdc800;
      color: #fff;
      font-size: 24px;
      font-weight: 600;
      left: 30px;
      font-family: "Montserrat",sans-serif;
      line-height: 24px;
      padding: 10px 15px;
      position: absolute;
      text-align: center;
      text-transform: capitalize;
      top: 0; }
      .newsCard .imageContainer .news-date div:nth-child(1) {
        padding: 0.3rem; }
      .newsCard .imageContainer .news-date div:nth-child(2) {
        color: #f7a52c; }
    .newsCard .imageContainer img {
      height: inherit;
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%; }
  .newsCard .newsBody {
    bottom: 0;
    left: 0;
    position: absolute; }
    .newsCard .newsBody .badgeNews {
      background: #ff9b31;
      color: #fff;
      padding: 0.5rem; }
    .newsCard .newsBody p {
      color: #fff;
      padding: 1rem 1.5rem;
      text-align: center; }

.survery-table {
  border-collapse: separate;
  border-spacing: 0 1rem; }
  .survery-table tbody {
    color: #fff; }
    .survery-table tbody tr {
      background: #32325d; }
      .survery-table tbody tr td {
        padding: 0.5rem; }
        .survery-table tbody tr td:last-child {
          width: 10rem; }

.site-request-password-reset,
.site-login {
  height: 82vh;
  padding-top: 5rem; }
  .site-request-password-reset .page-header img,
  .site-login .page-header img {
    display: inline-block;
    height: 2rem;
    width: 2rem; }

.resetFormContainer,
.loginFormContainer {
  width: 374px; }
  .resetFormContainer h2,
  .loginFormContainer h2 {
    font-size: 1rem; }
  .resetFormContainer .loginMediaContainer,
  .loginFormContainer .loginMediaContainer {
    margin: 1rem 0; }
    .resetFormContainer .loginMediaContainer .loginLogo:after,
    .loginFormContainer .loginMediaContainer .loginLogo:after {
      content: '';
      background: url(../images/logoProyectoGris.png) no-repeat;
      height: 8rem;
      opacity: 0.8;
      width: 8rem; }
  .resetFormContainer .loginActions,
  .loginFormContainer .loginActions {
    font-size: 14px; }

.resetPassTitle {
  font-size: 23.440px; }

.form-button {
  background: #fc7323;
  margin-bottom: 2rem;
  margin-top: 2rem; }
  .form-button:hover {
    background: #f26817; }

.site-course-detail {
  padding: 2rem 0; }
  .site-course-detail .courseDetailNameContainer {
    background: #fc7323;
    color: #fff;
    margin-bottom: 1rem;
    padding: 1rem; }
  .site-course-detail header {
    position: relative; }
    .site-course-detail header .projBackground {
      left: 0;
      position: absolute;
      right: 0;
      top: calc(50% + 175px);
      -webkit-transform: skewY(-12deg);
              transform: skewY(-12deg); }
      .site-course-detail header .projBackground .proj {
        left: 0;
        position: absolute;
        right: 0;
        top: auto; }
      .site-course-detail header .projBackground .p0 {
        background: -webkit-gradient(linear, left top, right top, from(#4dc076), to(#b3e895));
        background: linear-gradient(90deg, #4dc076, #b3e895);
        bottom: -8rem;
        height: 40rem; }

.courseDetailName {
  margin-bottom: 2rem;
  margin-top: 2rem; }

.courseInfoContainer {
  background: #fff;
  padding: 1rem; }
  .courseInfoContainer .courseInfoTitle {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 2rem; }
    .courseInfoContainer .courseInfoTitle h3 {
      border-bottom: 1px solid #fc7323;
      bottom: -1px;
      display: inline-block;
      font-size: 20px;
      line-height: 17px;
      padding-bottom: 13px;
      position: relative;
      margin-bottom: 0; }

.courseListInfo li {
  margin-bottom: 1.5rem; }
  .courseListInfo li i {
    color: #fc7323;
    margin-right: 0.5rem; }

.tab-content .tab-pane {
  background: #fff;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 1rem; }
  .tab-content .tab-pane .tab-details-area {
    margin-top: 2rem; }
    .tab-content .tab-pane .tab-details-area h4 {
      margin-bottom: 1rem;
      margin-top: 1rem; }
    .tab-content .tab-pane .tab-details-area .tab-details-info h3 {
      margin-bottom: 2rem; }
    .tab-content .tab-pane .tab-details-area .table-content .table-course-detail {
      margin-bottom: 2rem;
      margin-top: 2rem; }
      .tab-content .tab-pane .tab-details-area .table-content .table-course-detail thead {
        background: #fc7323;
        color: #fff;
        text-align: center; }
      .tab-content .tab-pane .tab-details-area .table-content .table-course-detail tbody tr td {
        padding: 15px 7px; }

.site-contact .bodyContact {
  padding: 8rem 0; }
  .site-contact .bodyContact .contact-heading h1 {
    font-size: 4rem; }
  .site-contact .bodyContact #contact-form textarea, .site-contact .bodyContact #contact-form input, .site-contact .bodyContact #contact-form select {
    background: #f1f1f1;
    border: 1px solid #eee; }
    .site-contact .bodyContact #contact-form textarea:focus, .site-contact .bodyContact #contact-form input:focus, .site-contact .bodyContact #contact-form select:focus {
      border: 1px solid #fc7; }
  .site-contact .bodyContact #contact-form input, .site-contact .bodyContact #contact-form select {
    height: 3.2rem;
    padding: 1rem; }
    .site-contact .bodyContact #contact-form input:focus, .site-contact .bodyContact #contact-form select:focus {
      border: 1px solid #fc7; }
.site-contact #googleMap {
  height: 500px;
  float: right;
  width: 100%;
  z-index: 2; }
